.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
*.pyc
app/db.sqlite3

*/migrations/*.pyc
*/migrations/__pycache__/

*.log

htmlcov/
.coverage

node_modules/
dist/

*.sqlite3
*.db


